{% extends 'shop/base.html' %}

{% block title %}Welcome to my IE-cart{% endblock %}
{% block body %}
{% load static %}
    <div class="jumbotron">
  <h1 class="display-4">Welcome to My IE Cart</h1>
  <p class="lead">Established as a Proprietor firm in the year 2010, we <strong>“Indraprastha Enterprises” </strong> are a leading Manufacturer and wholesale trader of astral bondtite & Wembley quick fix etc. Situated in Delhi (India), we have constructed a wide and well functional infrastructural unit that plays an important role in the growth of our company. We offer these products at reasonable rates and deliver these within the promised time-frame. Under the headship of <strong>“Mr. Rajendra Pratap Singh”</strong> (Owner), we have gained a huge clientele across the nation.</p>
  <hr class="my-4">
 
</div>
{% endblock %}
