{% extends 'shop/base.html' %}

{% block title %} About Us {% endblock %}

{% block body %} 
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">IE cart</h1>
      <p>Established as a Proprietor firm in the year 2010, we<strong> “Indraprastha Enterprises”</strong> are a leading Manufacturer and wholesale trader of astral bondtite & Wembley quick fix etc. Situated in Delhi (India), we have constructed a wide and well functional infrastructural unit that plays an important role in the growth of our company. We offer these products at reasonable rates and deliver these within the promised time-frame. Under the headship of <strong> “Mr. Rajendra Pratap Singh” </strong> (Owner), we have gained a huge clientele across the nation. </p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">View more &raquo;</a></p> -->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Why Us?</h2>
        <p>We are an eminent firm that is actively committed to offering premium quality range of products within the minimum time and at genuine rates. Different factors for which we have attained appreciation from clients spread all across the nation are: </p>
        <li>Ethical business policies</li>
        <li>Client-centric approach</li>
        <li>Quality assured product range</li>
        <li>Adept team of professionals</li>
        <li>Large distribution network</li>
        <li>Transparent dealings</li>
        <li>Excellent transport & logistic facility</li>
        <li>Reasonable prices</li><br/>
      </div>
      <div class="col-md-4">
        <h2>Our Vendor Base</h2>
        <p>In order to deliver quality products and achieve maximum satisfaction of our esteemed patrons, we procure the presented series from the most reliable vendors of the market. Our procurement agents conduct complete market study to find the most reliable market vendors on accounts of their economic position, product quality, fitted machinery and production techniques. Apart from this, our vendors employ the best quality basic material and advanced machinery while processing these products. </p>
      </div>
      <div class="col-md-4">
        <h2>Director's messange</h2>
        <p>Think big think ahead, We haven't make money but we have good relations with our customers.</p>
        <p style="text-align: right;">-Rajendra pratap singh</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
 {% endblock %}
