{% extends 'shop/base.html' %}

{% block title %} Payment Status {% endblock %}
{% block body %}
<div class="container">
	<div class="col my-4">
	{% if response.RESPCODE == "01" %}
	<h1>Your Payment Status : Order Successfull!!!</h1>
	{% else %}
	<h1>Your Payment Status : Order Failure</h1>
	{% endif %}
	<ul class="list-group" id="status">
 	<li class="list-group-item d-flex justify-content-between align-items-center">Payment Status regarding your OrderID is {{response.ORDERID}}</li>
 	<li class="list-group-item d-flex justify-content-between align-items-center">Amount {{response.CURRENCY}} {{response.TXNAMOUNT}}/-</li>
 	<li class="list-group-item d-flex justify-content-between align-items-center">{{response.RESPMSG}}
 	</li>
	</ul>

		
	</div>
</div>
{% endblock %}

 {% block js %}
 <script>
	{% if 501  %}	
	 	localStorage.clear();
	 	console.log("at 1")
	 	setTimeout(alert("Do not panic!, Your Payment & Order status update will be send at your Email."), 18000);
	 	console.log("at 2")
	 	document.location = "/shop/profile";
 	{% endif %}
 </script>
 {% endblock %}