{% extends 'shop/base.html' %}

{% block title %} Privacy Policy-Uptodatecart {% endblock %}

{% block body %} 
<main role="main">

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <h2 style="text-align: center;">Return Policy</h2>
     
     
    </div>
    <hr>
		<p>Our policy lasts 15 days. If 15 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.</br></br>

		To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</br></br>

		Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.</br></br>

		Additional non-returnable items:
		<li> Gift cards</li>
		<li> Downloadable software products</li>
		<li> Some health and personal care items</li></br></br>

		<strong>Note:-</strong> To complete your return, we require a receipt or proof of purchase.
		Please do not send your purchase back to the manufacturer.	
		<hr>
		<h4>Refunds (if applicable)</h4>
			<p>
				Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
				If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
			</p>
  </div> <!-- /container -->

</main>


 {% endblock %}
