{% extends 'shop/base.html' %}

{% block title %} Shipping Policy-Uptodatecart {% endblock %}

{% block body %} 
<main role="main">

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <h2 style="text-align: center;">Shipping Policy</h2>
     
     
    </div>
    <hr>
    <h4><strong>Overview</strong></h4>
    <p>
    	IECart ("we" and "us") is the operator of (https://www.IEcart.com) ("Website"). By placing an order through this Website you will be agreeing to the terms below. These are provided to ensure both parties are aware of and agree upon this arrangement to mutually protect and set expectations on our service.
    </p>
    <hr>
		<h4>Stock Avaliablity</h4>
		<p>
		We try to maintain accurate stock counts on our website but from time-to-time there may be a stock discrepancy and we will not be able to fulfill all your items at time of purchase. In this instance, we will fulfill the available products to you, and contact you about whether you would prefer to await restocking of the backordered item or if you would prefer for us to process a refund.</p>
		<hr>
		
	<h4>Shipping Cost</h4>
	<p>
		Shipping costs are calculated during checkout based on weight, dimensions and destination of the items in the order. Payment for shipping will be collected with the purchase.
	</br>
		This price will be the final price for shipping cost to the customer.
	</p>
	<hr>
	<h4>Delivery Terms</h4>
	<p>
		<li>In general, domestic shipments are in transit for 2 - 7 days.</li>
		<li>Orders are usually dispatched within 2 business days of payment of order.</li>
		<li>For change of delivery address requests, we are able to change the address at any time before the order has been dispatched.</li>
		<li>If an item is out of stock, we will dispatch the in-stock items immediately and send the remaining items once they return to stock.</li>
		<li>If delivery time has exceeded the forecasted time, please contact us so that we can conduct an investigation.
		</li>
	</p>
	<hr>
	<h4>Track You Order</h4>
	<p>
		<li>You can track your order through our live <a href="http://127.0.0.1:8000/shop/tracker/">Tracking System</a>.
		Also you can trace your order shippment at our customer profile web service.
		</li>
	</p>
	<hr>
	<h4>Parcel Damage In Transit</h4>
	<p>
		<li>If you find a parcel is damaged in-transit, if possible, please reject the parcel from the courier and get in touch with our customer service. If the parcel has been delivered without you being present, please contact customer service with next steps.
		</li>
	</p>

  </div> <!-- /container -->

</main>
 {% endblock %}
